In [33]:
import pandas as pd
import numpy as np

In [34]:
data=pd.read_csv("C:\\Users\\COM\\Desktop\\Test\\Q2-tennis.csv")

In [35]:
df=pd.DataFrame(data)

In [36]:
df.head()

    Outlook Temp. Humidity   Windy Play
0     sunny   hot     high  false    no
1     sunny   hot     high   true    no
2  overcast   hot     high  false   yes
3     rainy  mild     high  false   yes
4     rainy  cool   normal  false   yes

In [37]:
df.index

RangeIndex(start=0, stop=14, step=1)

In [38]:
df.columns

Index(['Outlook', 'Temp.', 'Humidity', 'Windy', 'Play'], dtype='object')

In [39]:
g=pd.value_counts(df.Play)/len(df.index)
g

yes    0.642857
no     0.357143
Name: Play, dtype: float64

In [40]:
# Frequency Table

In [41]:
Outlook_play=pd.crosstab(df.Outlook,df.Play,margins='TRUE')
Outlook_play

Play      no  yes  All
Outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [42]:
#Smoothing: changing the value 0's to 1's

In [43]:
for i in range(len(Outlook_play.index)):
    for j in range(len(Outlook_play.columns)):
        if(Outlook_play.ix[i,j]==0):
            Outlook_play.ix[i,j]=1
            
Outlook_play.ix[0,2]=Outlook_play.ix[0,1]+Outlook_play.ix[0,0]
Outlook_play.ix[3,0]=Outlook_play.ix[2,0]+Outlook_play.ix[1,0]+Outlook_play.ix[0,0]
Outlook_play.ix[3,2]=Outlook_play.ix[3,0]+Outlook_play.ix[3,1]

In [44]:
Outlook_play

Play      no  yes  All
Outlook
overcast   1    4    5
rainy      2    3    5
sunny      3    2    5
All        6    9   15

In [45]:
Temp_play=pd.crosstab(df['Temp.'],df.Play,margins='TRUE')
Temp_play

Play   no  yes  All
Temp.
cool    1    3    4
hot     2    2    4
mild    2    4    6
All     5    9   14

In [46]:
Humidity_play=pd.crosstab(df.Humidity,df.Play,margins='TRUE')
Humidity_play

Play      no  yes  All
Humidity
high       4    3    7
normal     1    6    7
All        5    9   14

In [47]:
Windy_play=pd.crosstab(df.Windy,df.Play,margins='TRUE')
Windy_play

Play    no  yes  All
Windy
false    2    6    8
true     3    3    6
All      5    9   14

In [48]:
# Frequency Table for probability

In [49]:
Outlook_play.ix[0:3:,1]=Outlook_play.ix[0:3,1]/Outlook_play.ix[3,1]
Outlook_play.ix[0:3:,0]=Outlook_play.ix[0:3,0]/Outlook_play.ix[3,0]
Outlook_play.ix[0:3:,2]=Outlook_play.ix[0:3,2]/Outlook_play.ix[3,2]
Outlook_play.ix[3,:]=Outlook_play.ix[3,:]/Outlook_play.ix[3,2]

In [50]:
Outlook_play.rename(columns={'All':'P(x)'} , index={'All':'P(c)'})

Play            no       yes      P(x)
Outlook
overcast  0.166667  0.444444  0.333333
rainy     0.333333  0.333333  0.333333
sunny     0.500000  0.222222  0.333333
P(c)      0.400000  0.600000  1.000000

In [51]:
Temp_play.ix[0:3:,1]=Temp_play.ix[0:3,1]/Temp_play.ix[3,1]
Temp_play.ix[0:3:,0]=Temp_play.ix[0:3,0]/Temp_play.ix[3,0]
Temp_play.ix[0:3:,2]=Temp_play.ix[0:3,2]/Temp_play.ix[3,2]
Temp_play.ix[3,:]=Temp_play.ix[3,:]/Temp_play.ix[3,2]

In [52]:
Temp_play.rename(columns={'All':'P(x)'} , index={'All':'P(c)'})

Play         no       yes      P(x)
Temp.
cool   0.200000  0.333333  0.285714
hot    0.400000  0.222222  0.285714
mild   0.400000  0.444444  0.428571
P(c)   0.357143  0.642857  1.000000

In [53]:
Humidity_play.ix[0:2:,1]=Humidity_play.ix[0:2,1]/Humidity_play.ix[2,1]
Humidity_play.ix[0:2:,0]=Humidity_play.ix[0:2,0]/Humidity_play.ix[2,0]
Humidity_play.ix[0:2:,2]=Humidity_play.ix[0:2,2]/Humidity_play.ix[2,2]
Humidity_play.ix[2,:]=Humidity_play.ix[2,:]/Humidity_play.ix[2,2]

In [54]:
Humidity_play.rename(columns={'All':'P(x)'} , index={'All':'P(c)'})

Play            no       yes  P(x)
Humidity
high      0.800000  0.333333   0.5
normal    0.200000  0.666667   0.5
P(c)      0.357143  0.642857   1.0

In [55]:
Windy_play.ix[0:2:,1]=Windy_play.ix[0:2,1]/Windy_play.ix[2,1]
Windy_play.ix[0:2:,0]=Windy_play.ix[0:2,0]/Windy_play.ix[2,0]
Windy_play.ix[0:2:,2]=Windy_play.ix[0:2,2]/Windy_play.ix[2,2]
Windy_play.ix[2,:]=Windy_play.ix[2,:]/Windy_play.ix[2,2]

In [56]:
Windy_play.rename(columns={'All':'P(x)'} , index={'All':'P(c)'})

Play          no       yes      P(x)
Windy
false   0.400000  0.666667  0.571429
true    0.600000  0.333333  0.428571
P(c)    0.357143  0.642857  1.000000

In [57]:
#Prediction

In [58]:
pred_play=[]
for i in range(len(df.index)):
    pcxy=Outlook_play.ix[df.ix[i,0],'yes']*Temp_play.ix[df.ix[i,1],'yes']*Humidity_play.ix[df.ix[i,2],'yes']*Windy_play.ix[df.ix[i,3],'yes']*g['yes']
    pcxn=Outlook_play.ix[df.ix[i,0],'no']*Temp_play.ix[df.ix[i,1],'no']*Humidity_play.ix[df.ix[i,2],'no']*Windy_play.ix[df.ix[i,3],'no']*g['no']
    yes_prob=pcxy/(pcxy+pcxn)
    no_prob=pcxn/(pcxy+pcxn)
    if(yes_prob > no_prob):
        pred_play.append("yes")
    elif(yes_prob < no_prob):
        pred_play.append("no")

In [59]:
pred_play=pd.DataFrame(pred_play)
pred_play

      0
0    no
1    no
2   yes
3   yes
4   yes
5   yes
6   yes
7    no
8   yes
9   yes
10  yes
11  yes
12  yes
13   no

In [60]:
Expected=df[['Play']]
Expected

   Play
0    no
1    no
2   yes
3   yes
4   yes
5    no
6   yes
7    no
8   yes
9   yes
10  yes
11  yes
12  yes
13   no

In [30]:
#Calculating the Accuracy

In [61]:
from sklearn import metrics

In [62]:
print(metrics.accuracy_score(Expected,pred_play))

0.928571428571