In [1]:
import pandasql as pdsql
import pandas as pd

In [2]:
org=pd.read_csv("C:\\Users\\SOUMIK\\Desktop\\Database\\27_4_17\\org.csv", delimiter=',')
org

,id,name,entity_type,logo,address,contact_person_email,contact_person_mobile,creator,created_at,updated_at
0,1,Growthfile,proprietorship,http://lorempixel.com/500/500/?37735,NaN,pujacapital@gmail.com,NaN,NaN,2017-02-28 00:20:10,2017-02-28 00:20:10
1,2,Simplifii Labs,NaN,NaN,ghkjhbj,chandresh989@gmail.com,7.576779e+09,NaN,2017-02-28 00:32:02,2017-03-28 17:55:02
2,3,Puja Capital,NaN,NaN,"D 90, First Floor, Saket 110017",kiran.murthi@gmail.com,9.811580e+09,NaN,2017-02-28 01:09:17,2017-02-28 07:14:28
3,4,org name,NaN,NaN,NaN,mxsingh15+4@gmail.com,NaN,NaN,2017-03-14 15:56:38,2017-03-14 15:56:38
4,5,Avon Beauty Products Pvt Ltd,NaN,NaN,NaN,divya.paul@avon.com,9.717168e+09,NaN,2017-03-14 19:15:08,2017-03-14 19:15:08
5,6,Tax Sutra,NaN,NaN,NaN,kalpana.j@taxsutra.com,9.820047e+09,NaN,2017-03-17 11:17:56,2017-03-17 11:17:56
6,7,CAN Brand,NaN,NaN,NaN,anshul@canbrand.in,NaN,NaN,2017-03-17 13:39:48,2017-03-17 13:39:48
7,8,Carveaniche TechLabs Private Limited,NaN,NaN,NaN,munish@cantech.co,9.711354e+09,NaN,2017-03-20 10:06:37,2017-03-20 10:06:37
8,9,Mystique,NaN,NaN,B 2/13 Mohan Co operative Industrial Estate Ne...,kanishka@mystique.co.in,8.506020e+09,NaN,2017-03-27 18:23:52,2017-04-10 10:54:38
9,10,Test org,NaN,NaN,NaN,ga8993@gmail.com,NaN,NaN,2017-03-28 08:51:45,2017-03-28 08:51:45
10,11,Joseph & Joseph,NaN,NaN,NaN,Josephkoshy2206@gmail.com,9.811148e+09,NaN,2017-03-30 12:24:10,2017-03-30 12:24:10
11,12,Mind Edutainment Pvt. Ltd.,NaN,NaN,NaN,rachita@thotslab.com,9.872206e+09,NaN,2017-04-07 15:41:16,2017-04-07 15:41:16
12,13,GAZRAJ SECURITY GUARDS PRIVATE LIMITED,NaN,NaN,NaN,ranvijayd.shieldguards@gmail.com,9.999889e+09,NaN,2017-04-10 15:25:55,2017-04-10 15:25:55
13,14,Stellar Medical,NaN,NaN,NaN,usha@stellarmedical.in,8.800697e+09,NaN,2017-04-21 11:46:41,2017-04-21 11:46:41
14,15,Discvr Innovations Plt Ltd,NaN,NaN,NaN,munish@discvr.in,9.013268e+09,NaN,2017-04-27 15:25:33,2017-04-27 15:25:33

In [5]:
from datetime import datetime
datetime.strptime(org.ix[0,'created_at'], '%Y-%m-%d %H:%M:%S')

datetime.datetime(2017, 2, 28, 0, 20, 10)

In [6]:
from datetime import datetime
today=datetime.today()

for i in range(len(org)):
    x=datetime.strptime(org.ix[i,'created_at'], '%Y-%m-%d %H:%M:%S')
    if(today<x):
        print(True)
    else:
        print(False)

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [ ]:
user=pd.read_csv("C:\\Users\\SOUMIK\\Desktop\\Database\\27_4_17\\users.csv", delimiter=',')
user.head()

In [ ]:
update=pd.read_csv("C:\\Users\\SOUMIK\\Desktop\\Database\\27_4_17\\marked_locations.csv", delimiter=',')
update.head()

In [ ]:
user.columns

In [ ]:
string1='select * from user where org_id=13'
x=pdsql.sqldf(string1)
y=pd.to_csv("C:\\Users\SOUMIK\\Desktop\\Excel Folder\\users_27-04-2017")

In [ ]:
update.columns=['id','update']
update.id.unique()

In [ ]:
table=pd.merge(update, x, how='left', on=['id','id'])

In [ ]:
table

In [ ]:
pd.value_counts(table.org_id)

In [ ]:
update.shape